@import url("https://fonts.googleapis.com/css2?family=Monda&family=Silkscreen&display=swap");
body {
  margin: 0px;
  background: white;
  background: url(./img/background.png);
}
html {
  scroll-behavior: smooth;
}

p,
figcaption,
h1,
h2,
h3 {
  font-family: "Monda", sans-serif;
}
a,
button,
.button-link {
  font-family: "Silkscreen", cursive;
  font-weight: bold;
  font-size: 32px;
}
.section-title {
  font-family: "Silkscreen", cursive;
  font-weight: bold;
  font-size: 64px;
  margin: 16px;
  color: #1251d0;
}
.button-link {
  display: inline;
}
header .navbar {
  width: 100%;
  height: 64px;
  border-bottom: 2px solid white;
  background-color: #1251d0;
  z-index: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-choices {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar a {
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  transition: all 0.5s;
}

.logo-navbar {
  height: 62px;
  margin-top: 8px;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 32px;
  border: none;
  outline: none;
  color: white;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: all 0.5s;
}
.dropbtn i {
  display: inline;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
  color: #1251d0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 132, 241, 1), rgba(0, 0, 0, 0));
  padding-bottom: 30.5vw;
  z-index: -1;
}
.video-holder {
  position: relative;
  top: 12vw;
  width: 100vw;
}

.video-holder video {
  width: 100%;
  position: relative;
}

.opening-mask {
  position: absolute;
  top: -12vw;
  display: block;

  -webkit-mask-image: url(./img/maskProtagonists.svg);
  mask-image: url(./img/maskProtagonists.svg);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
  overflow: hidden;
  width: 100%;
}

.logo-animation {
  position: relative;
  margin-top: 14vw;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  width: 100%;
}

.rotate-1 {
  width: 70%;
  position: absolute;
  animation: rotate-1 35s linear infinite;
}
@keyframes rotate-1 {
  to {
    transform: rotate(360deg);
  }
}
.rotate-2 {
  width: 70%;
  position: absolute;
  animation: rotate-2 35s linear infinite;
}
@keyframes rotate-2 {
  to {
    transform: rotate(-360deg);
  }
}

.container-link-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.about-home {
  font-size: 18px;
  margin: 2em;
}
.home-neumorphism {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 64px 0px;
  width: 100%;
  max-width: 768px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9;
}
.home-neumorphism span {
  display: block;
  font-size: 32px;
  margin-bottom: 0.5em;
  color: inherit;
  text-decoration: none;
  transition: all 0.5s;
}
.home-neumorphism button {
  background-color: #1251d0;
  border-radius: 50px;
  border: 0px;
  margin-bottom: 0.5em;
  color: white;
  border: 2px solid #1251d0;
}
.home-neumorphism button:hover {
  background-color: white;
  color: #1251d0;
}

.about-matt,
.about-taichi {
  margin: 2em 1em;
  position: absolute;
  width: 100%;
  max-width: 560px;
  top: 0;
  z-index: -1;
}
.about-matt {
  left: 0;
}

.about-taichi {
  right: 0;
}
.home-neumorphism a img {
  display: inline-block;
}

footer {
  width: 100%;
  height: 256px;
  border-top: 2px solid white;
  background-color: #1251d0;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  color: white;
  font-size: 32px;
  width: 100%;
  max-height: 32px;
  max-width: 20em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icons i,
footer a {
  transition: all 0.2s;
}
.footer-icons i:hover,
footer a:hover {
  transform: scale(1.5);
}

footer a {
  font-size: 32px;
  color: white;
}

.cast-container,
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cast-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  min-width: 820px;
  max-width: 80%;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9;
}
.cast-img-container {
  width: 250px;
  height: 250px;
}
.cast-img-container img {
  width: 100%;
}

.cast-pg-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 30%;
}

.gallery-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.gallery-container::after {
  content: "";
  width: 300px;
  margin: 0.5em;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  color: white;
  text-align: center;
}

.overlay-trigger:checked + .overlay {
  visibility: visible;
}

.overlay-trigger {
  display: none;
}
.label-img-clickable {
  display: block;
  cursor: pointer;
  color: blue;
  width: 300px;
  height: 250px;
  margin: 0.5em;
}
.img-clickable {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border: #1251d0 2px solid;
}

.img-clicked {
  height: 60%;
  margin: 1em;
}

.plot-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  min-width: 820px;
  max-width: 80%;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9;
}

.plot-box p {
  margin: 1em;
}
.plot-box img {
  display: block;
  width: 80%;
}
.plot-box span {
  font-style: italic;
}

.trivia-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
  width: 100%;
  min-width: 820px;
  max-width: 80%;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9;
}
.trivia-box img {
  margin: 1em;
  border-radius: 50px;
}
.trivia-box p {
  margin: 1em;
}
.trivia-box iframe {
  margin: 1em;
  border-radius: 50px;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title-line {
  width: 25%;
  height: 8px;
  background-color: #1251d0;
}

#myBtn {
  display: none;
  position: fixed;
  width: 140px;
  height: 140px;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border: 0px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
#myBtn img {
  width: 100%;
}

#myBtn:hover {
  transform: scale(1.3);
}
